@charset "utf-8";
/* CSS Document */

body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
header li{
	list-style: none;
	display: inline;
	margin-left: 0px;
	padding-left: 0px;
}
nav li{
	list-style-type: none;
	display: inline;
}
main{
	background-color: lightgray;
	padding: 20px 10px;
}
.red-title{
	color: red;
	
}
main p{
	border: blue 1px solid;
	margin-bottom: 20px;
}
.font-format{
	font-family: Georgia, "Times New Roman", serif;
	font-weight: 900;
}
.emphasis{
	font-weight: bold;
}
img.float-left{
	float: left;
}
img.float-right{
	float: right;
}
.clear-float{
	clear: both;
}