@charset "utf-8";
/* CSS Document */
body{  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'lato-light';
    vertical-align: baseline;}
header img{
	margin: auto;
}
nav{
	background-color: #69706e;
    border-bottom: 1px solid #d7d9d8;
    height: 50px;
    margin-top: 2px;
}
#menu {
    background-color: #69706e;
    border-bottom: 1px solid #d7d9d8;
    height: 50px;
    margin-top: 2px;
}
.menu li a {
    color: #fff;
    font-size: 23px;
    text-decoration: none;
}
ol, ul, li{
	list-style: none;
	margin: 0;
    padding: 0;
}
.menu li {
    width: 70%;
	margin-left: auto;
	margin-right: auto;
	line-height: 47px;
	list-style-type: none;
	text-align: center;
	display: inline;
}
li{
	text-align: -webkit-match-parent;
}
.sep {
    font-size: 29px;
    margin: 0px 20px;
    color: #fff;
}
#about-us {
    color: #36393c;
    font-size: 18px;
    line-height: 30px;
    padding: 60px 50px;
	text-align: center;
}
#about-us img{
	margin-bottom: 0px;
}
#about-us h2 {
    color: #04C2F6;
    font-size: 53px;
	margin-top: 5px;
	margin-bottom: 30px;
}
#collaborations {
    background-color: #04c2f6;
    padding: 60px 50px;
}
#collaborations h2 {
    color: #fff;
    font-size: 53px;
	margin-bottom: 30px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cover_collaborations {
    width: 55%;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
.right img{
	float: right;
	width: 30%;
	margin-top: -20px;
}

.entry-content {
    position: relative;
}

#contact-us {
    color: #3639ff;
    font-size: 18px;
    line-height: 30px;
    padding: 60px 50px;
	text-align: center;
}
#contact-us img{
	margin-bottom: 0px;
}
#contact-us h2 {
    color: #04C2F6;
    font-size: 53px;
	margin-top: 5px;
	margin-bottom: 30px;
}